<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/base.css" />
    {% block style %}{% endblock style %}
    <title>Document</title>
  </head>
  <body>
    {% block header %}

    <div class="header">
      <div class="logo">Morse Code Translator</div>
      <div class="options">
        <a onclick="activelink('about')" href="about" id="about" class="about">DOCS</a>
        <a onclick="activelink('mtot')" href="mtot" id="mtot" class="mtot">Morse code to text</a>
        <a onclick="activelink('ttom')" href="ttom" id="ttom" class="ttom">Text to Morse code</a>
      </div>
    </div>
    {% endblock %} 
    {% block content %}


    {% endblock content %}
  </body>

  <script>
      function activelink(n){
        document.getElementById(n).style.backgroundColor = "white"
      }
  </script>
</html>
