{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="/static/ttom.css">
{% endblock style %}

{% block content %}
<form id="morseToTextForm" method="post">
    {% csrf_token %}
    <div class="container1">
        <p>MORSE CODE TO TEXT</p>
        <div class="textinput">
            <textarea placeholder="Enter a Morse Code here to convert into Text" rows="8" type="text" class="texti" name="texti">{{ request.POST.texti }}</textarea>
        </div>
        <div class="textoutput">
            <textarea rows="8" type="text" class="texto" readonly>{{ value }}</textarea>
        </div>
    </div>
    <div class="submit">
        <button type="button" class="submitb" onclick="submitForm()">Convert</button>
    </div>
</form>

<script>
function submitForm() {
    const form = document.getElementById('morseToTextForm');
    const formData = new FormData(form);

    fetch("mtot", {
        method: 'POST',
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        },
        body: formData
    })
    .then(response => response.text())
    .then(data => {
        const parser = new DOMParser();
        const doc = parser.parseFromString(data, 'text/html');

        // Update the textarea with the new value
        document.querySelector('.texto').value = doc.querySelector('.texto').value;

        // Retain the input text
        document.querySelector('.texti').value = doc.querySelector('.texti').value;
    })
    .catch(error => console.error('Error:', error));
}
</script>

{% endblock content %}